<!DOCTYPE html>
<html lang="en"></html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="{{ url_for('static', filename='Home/home.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <h1 class="home-title">Bem vindo!</h1>
    <div class="home-btns-options">
      <input class="home-btns" type="button" value="Cadastrar doença" onclick="window.location.href='/disease/'" /> 
      <input class="home-btns" type="button" value="Cadastrar incidencia" onclick="window.location.href='/incidence/'" /> 
      <input class="home-btns" type="button" value="Visualizar gráfico" onclick="window.location.href='/graphic/'" /> 
      <input class="home-btns" type="button" value="Visualizar tabela" onclick="window.location.href='/table/'" /> 
  </div>
  </body>
</html>
